@import '../../../app.scss';
@import '~highlight.js/styles/monokai.css';
$markdown-nav-size: 20em;
$markdown-height: calc(100% - #{$dim-navbar} - $dim-padding);
$padding: 2em;

.markdown-wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
}
.markdown-container {
    width: calc(100% - #{$markdown-nav-size} - #{$padding});
    // position: relative;
    background: #dddddd;
    color: #333333;
    overflow-y: auto;
    // top: 0;
    // left: 0;
    height: $markdown-height;
    padding: $padding;
    padding-top: 3em;
}

.markdown-nav {
    padding: $padding;
    background: $col-background;
    color: $col-active;
    width: calc(#{$markdown-nav-size} - 2 * #{$padding});
    height: $markdown-height;
    div {
        line-height: 1.8em;
    }
}

$code-col: #00adee;
.code {
    color: $code-col;
    // border: 0.5px solid $code-col;
    border-radius: 4px;
    padding: 2px;
    // background: rgba($code-col, 0.02);
    font-weight: bold;
}

.markdown {
    max-width: 60rem;
    height: 100%;
    margin: {
        left: auto;
        right: auto;
    }
    p,li,td {
        code {
            @extend .code;
        }
    }
    pre {
        background: #333;
        color: white;
        padding: 1em;
        border-radius: 4px;
        overflow: auto;
    }
}