.list {
    padding: {
        left: 1em;
        right: 1em;
    }
    ul {
        // position: absolute;
        list-style: none;
        width: 100%;
        font-size: 1rem;
        max-height: 80vh;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-margin-after: 0;
        -webkit-margin-before: 0;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        -webkit-padding-start: 0;
        -webkit-padding-end: 0;
        -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
        z-index: 1;

        $dim-height-item: 3rem;
        $dim-padding: 1rem;
        $dim-border: 1px;

        li {
            position: relative;
            width: 100%;
            height: $dim-height-item;
            line-height: $dim-height-item;
            color: black;
            background: white;
            width: 100%;
            text-overflow: ellipsis;
            overflow-x: hidden;
            white-space: nowrap;
            padding-left: $dim-padding;
            padding-right: $dim-padding;
            border-bottom: $dim-border solid lighten(lightgrey, 10%);
            &:hover {
                cursor: pointer;
                background-color: lighten(lightgrey, 10%);
            }
        }
    }
}