@import '../../../app.scss';

$itemHeight: 4em;
$itemPadding: 2em;
.item {
    position: relative;
    width: calc(100% - 2 * #{$itemPadding});
    height: $itemHeight;
    background: white;
    line-height: $itemHeight;
    margin-top: 1em;
    padding: {
        left: $itemPadding;
        right: $itemPadding;
    }
    @include box-shadow(10, 0, 5, black);
}