@import '../../../app.scss';
@import '~highlight.js/styles/monokai.css';
$markdown-nav-size: 22em;

.markdown-container {
    width: calc(100% - #{$markdown-nav-size});
    background: #dddddd;
    color: #333333;
    overflow-y: auto;
    top: 0;
    left: 0;
    height: 100%;
    padding: 2em;
    padding-top: 3em;
}

.markdown-nav {
    background: $col-background;
    color: $col-active;
    width: $markdown-nav-size;
}

.markdown {
    max-width: 60rem;
    height: 100%;
    margin: {
        left: auto;
        right: auto;
    }
    pre {
        background: #333;
        color: white;
        padding: 1em;
        border-radius: 4px;
    }
}