.markdown-container {
    width: 100%;
    background: white;
    color: black;
    top: 0;
    height: 100%;
}

.markdown {
    max-width: 40rem;
    height: 100%;
    margin: {
        left: auto;
        right: auto;
    }
}