@import '~bilo-ui/dist/bilo-ui.scss';
@import '../scss/index.scss';

body {
    background: #e1e1e1;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}
 .app-content {
     position: fixed;
     top: $dim-navbar;
     height: calc(100vh - #{$dim-navbar});
     left: 0;
     width: 100%;
     overflow-y: auto;
 }