@import '../../../ws-core/sass/index.scss';
@import '../../../sass/index.scss';

.posts {
    background: $col-dark;
    color: $col-light;
    position: relative;
    height: 100%;
}
.posts-category {
    padding-left: 2rem;
    padding-right: 2rem;
    overflow: hidden;
    overflow-y: auto;
}

.posts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post-card {
    @extend .ws-card;
    position: relative;
    width: 12rem;
    height: 10rem;
    background: rgba(white, 0.2);
    margin: 0.2rem;

    $col-active: $col-active;
    &:hover {
        color: $col-active;
        cursor: pointer;
    }
    div {
        position: absolute;
        bottom: 0;
        padding: 0.4rem;
        height: 3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: none;
    }
    $logo-width: 5rem;
    img {
        position: absolute;
        padding-bottom: 4rem;
        width: $logo-width;
        height: $logo-width;
        left: calc(50% - #{$logo-width} / 2);
        top: 1rem;
    }
}