@import '../../../app.scss';

.response-card {
    @extend .ws-card;
    background: #dddddd;
    color: #333333;
    padding-right: 0;
}

.highlighting {
  background:lighten(#00adee, 10%);
  color: black;
}