@import '../../../app.scss';

.response-card {
    @extend .ws-card;
    background: #dddddd;
    color: #333333;
    padding-right: 0;
}

.highlighting {
  background:lighten(#00adee, 10%);
  color: black;
}

svg {
  height: 15em;
  overflow: hidden;
  overflow-y: scroll;
}

text {
  &:hover {
    cursor: pointer;
    background-color: $col-active;
    
  }
}