// @import '~highlight.js/styles/monokai.css';
// @import '~highlight.js/styles/atom-one-dark.css';
@import '~highlight.js/styles/vs2015.css';

.code-block {
    .toggle {
      position: relative;
      float: right;
      &:hover {
        color: #00adee;
        cursor: pointer;
      }
    }
}