@import '~bilo-ui/dist/bilo-ui.scss';
@import '../../app.scss';

.tut-container {
    background: $col-background;
    color: $col-text;
    position: relative;
    height: 100%;
}

.tut-content {
    width: auto;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 2em;
}

.posts-container {
    display: flex;
    margin-left: 2em;
    margin-right: 2em;
    flex-direction: row;
    flex-wrap: wrap;
}

.post-card {
    @extend .ws-card;
    position: relative;
    // width: 12rem;
    // height: 10rem;
    // color: #333;
    // background: rgba(white, 0.2);
    
    margin: 0.2rem;
    &:hover {
        color: $col-active;
        cursor: pointer;
    }
    $height: 4em;
    .post-title {
        text-decoration: none;
        position: absolute;
        left: $height;
        top: 0;
        line-height: $height;
        margin-left: 1em;
    }
    // $logo-width: 5rem;
    // img {
    //     position: absolute;
    //     padding-bottom: 4rem;
    //     width: $logo-width;
    //     height: $logo-width;
    //     left: calc(50% - #{$logo-width} / 2);
    //     top: 1rem;
    // }
}